@page "/home"

@using System.Drawing
@using RapidFireLib.UX.Style


<PageRF Title="Home" SubTitle="Homepage" AddUrl="/counter">
    <h2>Welcome to Quiz Mangement System</h2>
    <span>Quiz Mangement System for online </span>
</PageRF>