@page "/"
@layout MyLayout

<PageRF Title="Portal Page" SubTitle="Welcome to RapidFire portal!!!">
    <div style="text-align:center">
        <i class="fa-brands fa-gripfire" style="font-size: 55vh;color: #F44336;text-shadow: 3px -9px 14px #f4433654;"></i>
        <div style="font-size: 8vh;">@Localizer["Explore"], <b>@Localizer["RapidFire"]</b>!</div>
    </div>
</PageRF>
